set completion-ignore-case On
set expand-tilde on
set convert-meta off
set input-meta on
set output-meta on
set show-all-if-ambiguous on
set visible-stats on
set editing-mode emacs
"\C-x\C-v": vi-editing-mode
set editing-mode vi
"\C-x\C-e": emacs-editing-mode
